{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Language Translations</legend>
            </fieldset>
            {{form|crispy}}
            <div class="form-group">
                <button href="" class="btn btn-outline-info" type="submit">
                    Translate
                </button>
            </div>
        </form>
    </div>
    
    {% if result %}
    <div class="container">
        <h4 class="border-bottom mb-4">Translated Text:</h4>
        <p class="lead font-weight-bold">{{ result }}</p>
    </div>
    {% endif %}

    <div style="margin-left: 75px;">
       <a href="{% url 'conversion' %}" class="btn btn-outline-info" type="submit">
        Back to Conversion
       </a>
    </div>

{% endblock content %}